/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

/* Reset CSS */
h1, p {margin-bottom: 0;}
html{font-size: 62.5%;}
/* Global Css */
body{
    font-family: 'Space Mono', monospace;
    padding: 4rem 0;
}
/* Navbar styling */
.nav-container{
    margin-bottom: 20rem;
}
.nav-container > .container > p{
   font-family: 'Inconsolata', monospace;
   font-size: 2.4rem;
   text-transform: uppercase;
}
/* Header Styling */
.row{
    align-items: center;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
.header-content{
    padding-left: 6.2rem;
}
.header-content > h1{
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 94.78px;
    margin-bottom: 3.6rem;
}
.header-content > p {
    font-size: 2.4rem;
    line-height: 35.54px;
    width: 38.2rem;
    margin-bottom: 6.4rem;
}
.header-content > a{
    display: inline-block;
    background-color:#333333;
    color: #ffffff;
    font-size: 1.4rem;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.header-content > a:focus{
    outline: none;
}
.header-content > a:hover{
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}
/* Footer Styling */
footer{
    margin-top: 29rem;
}
footer > p {
    font-size: 1.4rem;
}
@media screen and (max-width: 778px){
    .nav-container{
        margin-bottom: 6.4rem;
    }
   .header-content > h1{
       font-size: 4.8rem;
       line-height: 71.09px;
       margin-bottom: 3rem;
    }
   .header-content{
       padding-left: 1.5rem;
   }
   .header-content > p{
       width: 100%;
   }
   footer{
    margin-top: 9.6rem;
   }
}